<app-header></app-header>
<section class="inner-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>For technical support, please reach out to support@rapidapi.com. For all other inquiries, please use the form to get in touch with us!</p><p>You may need to disable ad or pop-up blocker on your web browser to submit the form.</p>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
