<footer>
    <div class="newsslatter wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 text-lg-left text-md-center text-center">
                    <h2>Get an instant complete compliance audit!</h2>
                    <p>See how far you are from complying with WCAG 2.1 and the ADA</p>
                </div>
                <div class="col-lg-6 text-lg-right text-md-center text-center">
                    <form action="">
                        <input type="text" placeholder="Enter your Email">
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="footer-section">
                    <h3>Contact info</h3>
                    <ul>
                        <li><p>P. S Srijan Corporate Park, Unit No 806, 8th Floor, Tower-II, GP - 2, Block - EP&GP, Sector - V, Saltlake City, Kolkata - 700091</p></li>
                        <li><p>Email: <a href="mailto:info@365dayswebsite.com">info@365dayswebsite.com</a></p></li>
                        <li><p>Phone: <a href="tel:9109876543211">+91 098 765 43211</a></p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
                <div class="footer-section">
                    <h3>Related Links</h3>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Portfolio</a></li>
                        <li><a href="">Our Team</a></li>
                        <li><a href="">Industry</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.7s">
                <div class="footer-section">
                    <h3>Expertise</h3>
                    <ul>
                        <li><a href="">Mobile Application</a></li>
                        <li><a href="">Website Development</a></li>
                        <li><a href="">Digital Consultancy</a></li>
                        <li><a href="">CRM</a></li>
                        <li><a href="">Software development</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.9s">
                <div class="footer-section">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="">Terms Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Refund Cancellation</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
                <div class="footer-section">
                    <h3>Social</h3>
                    <ul>
                        <li><a href="">
                            <span><img src="assets/images/facebook-icon.png" alt=""></span>
                            Facebook
                        </a></li>
                        <li><a href="">
                            <span><img src="assets/images/linkdin-icon.png" alt=""></span>
                            Linkdin
                        </a></li>
                        <li><a href="">
                            <span><img src="assets/images/twitter-icon.png" alt=""></span>
                            Twitter
                        </a></li>
                        <li><a href="">
                            <span><img src="assets/images/instegram-icon.png" alt=""></span>
                            Instegram
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; 2020 365dayswebsite | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>