.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.home-content-integrations-icons {
    position: relative;
    margin-top: 50px;
    min-height: 300px;
}
.home-content-integrations-icon {
    position: absolute;
    top: 0;
    width: 75px;
    height: 75px;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(50,50,50,0.1);
}

.home-content-integrations-icon:nth-child(1) {
    top: -150px;
    left: 70px;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
}
.home-content-integrations-icon:nth-child(2) {
    top: -20px;
    left: 0;
        animation-duration: 3.5s;
}
.home-content-integrations-icon:nth-child(3) {
    width: 100px;
    height: 100px;
    left: 200px;
    right: auto;
    -webkit-animation-duration: 7s;
    -moz-animation-duration: 7s;
    -o-animation-duration: 7s;
    animation-duration: 7s;
}

.home-content-integrations-icon:nth-child(4) {
    top: 150px;
    left: 85px;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
}
.home-content-integrations-icon:nth-child(5) {
    top: 200px;
    left: 300px;
    -webkit-animation-duration: 6s;
    -moz-animation-duration: 6s;
    -o-animation-duration: 6s;
    animation-duration: 6s;
}
.home-content-integrations-icon:nth-child(6) {
    width: 85px;
    height: 85px;
    top: 50px;
    left: 370px;
    -webkit-animation-duration: 4.5s;
    -moz-animation-duration: 4.5s;
    -o-animation-duration: 4.5s;
    animation-duration: 4.5s;
}
.home-content-integrations-icon:nth-child(7) {
    width: 95px;
    height: 95px;
    top: 20px;
    right: 350px;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
}
.home-content-integrations-icon:nth-child(8) {
    top: 50px;
    right: 530px;
    -webkit-animation-duration: 6.5s;
    -moz-animation-duration: 6.5s;
    -o-animation-duration: 6.5s;
    animation-duration: 6.5s;
}
.home-content-integrations-icon:nth-child(9) {
    top: 200px;
    right: 400px;
    -webkit-animation-duration: 7s;
    -moz-animation-duration: 7s;
    -o-animation-duration: 7s;
    animation-duration: 7s;
}
.home-content-integrations-icon:nth-child(10) {
    width: 110px;
    height: 110px;
    top: 150px;
    left: -150px;
    right: 0;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
}
.home-content-integrations-icon:nth-child(11) {
    top: 100px;
    right: 150px;
    -webkit-animation-duration: 6s;
    -moz-animation-duration: 6s;
    -o-animation-duration: 6s;
    animation-duration: 6s;
}
.home-content-integrations-icon:nth-child(12) {
    top: -50px;
    right: 50px;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}









.home-content-integrations-icon img{
	max-width: 100%;
	border:0px;
}
.floating-vertical{
	-webkit-animation: floating-vertical 3s infinite ease-in-out;
    -moz-animation: floating-vertical 3s infinite ease-in-out;
    -o-animation: floating-vertical 3s infinite ease-in-out;
    animation: floating-vertical 3s infinite ease-in-out;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    animation-direction: alternate;
}

@keyframes floating-vertical{
	0%{ transform: translate(0px, 0px); }
	100%{ transform: translate(0px, 50px); }
}