<div class="inner-banner crm-banner">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 inner-text">
                <h2>
                    Customer<br>
                    Relationship<br>
                    Management
                </h2>
                <a href="">Go to the Marketplace</a>
            </div>
            <div class="col-lg-5">
                <div class="inner-image">
                    <img src="assets/images/crm.png" alt="" class="img-fluid">
                </div>
            </div>
           
        </div>
    </div>
</div>
