<app-header></app-header>
<div class="about-banner">
    <img src="assets/images/about-hero-opt.jpg" class="img-fluid"/>
    <div class="about-banner-text">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-7">
                    <h1>So how did <span>365dayswebsite.com</span> come to be?</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="about-story">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>WE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, aliquid error! Cumque minus praesentium eos odit facilis iusto tempora suscipit, reprehenderit assumenda dolore. Fugiat aliquam fugit culpa. Commodi corporis vero dolor fugiat molestias laudantium minima, quibusdam nostrum atque, blanditiis, pariatur explicabo dignissimos voluptatum ex ad! Dolor excepturi cum tempora perspiciatis!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, illo eum eius dicta laborum consectetur ratione cupiditate est maxime nihil modi, numquam corporis aperiam non veritatis iusto sed odit totam eveniet. Itaque dolorum id atque dolorem, architecto sunt aliquid quos!</p>
            </div>
            <div class="col-lg-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, aliquid error! Cumque minus praesentium eos odit facilis iusto tempora suscipit, reprehenderit assumenda dolore. Fugiat aliquam fugit culpa. Commodi corporis vero dolor fugiat molestias laudantium minima, quibusdam nostrum atque, blanditiis, pariatur explicabo dignissimos voluptatum ex ad! Dolor excepturi cum tempora perspiciatis!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, illo eum eius dicta laborum consectetur ratione cupiditate est maxime nihil modi, numquam corporis aperiam non veritatis iusto sed odit totam eveniet. Itaque dolorum id atque dolorem, architecto sunt aliquid quos!</p>
            </div>
        </div>
    </div>
</section>
<section class="about-company">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/images/team2.jpg" class="img-fluid">
            </div>
            <div class="col-lg-8">
                <div class="heading">
                    <h2>WE ARE HERE TO MAKE THE INTERNET ACCESSIBLE</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, aliquid error! Cumque minus praesentium eos odit facilis iusto tempora suscipit, reprehenderit assumenda dolore. Fugiat aliquam fugit culpa. Commodi corporis vero dolor fugiat molestias laudantium minima, quibusdam nostrum atque, blanditiis, pariatur explicabo dignissimos voluptatum ex ad! Dolor excepturi cum tempora perspiciatis!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, illo eum eius dicta laborum consectetur ratione cupiditate est maxime nihil modi, numquam corporis aperiam non veritatis iusto sed odit totam eveniet. Itaque dolorum id atque dolorem, architecto sunt aliquid quos!</p>
                
                </div>
            </div>
        </div>
    </div>
</section>
<section class="company-status">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-10">
                <ul>
                    <li>
                        <img src="assets/images/client-icon.png" alt="">
                        <h3>2319</h3>
                        <p>CLIENTS</p>
                    </li>
                    <li>
                        <img src="assets/images/client-icon.png" alt="">
                        <h3>6209 </h3>
                        <p>OPTIMIZED WEBSITES</p>
                    </li>
                    <li>
                        <img src="assets/images/client-icon.png" alt="">
                        <h3>99 %</h3>
                        <p>SATISFACTION</p>
                    </li>
                    <li>
                        <img src="assets/images/client-icon.png" alt="">
                        <h3>10</h3>
                        <p>YEARS OF SERVICE</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</section>
<section class="top-people">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <div class="heading">
                    <h2>When you break it down, it's all about the people</h2>
                </div>
                <img src="assets/images/culture-desktop.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section">
                        <h3>Transparency</h3>
                        <p>Both as a team and deeply rooted in our platform, is complete visibility into everything we do. We believe that transparency creates a culture of empowerment; and a more empowered team is a more productive team.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section">
                        <h3>Impact</h3>
                        <p>Both as a team and deeply rooted in our platform, is complete visibility into everything we do. We believe that transparency creates a culture of empowerment; and a more empowered team is a more productive team.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section">
                        <h3>Data-driven</h3>
                        <p>Both as a team and deeply rooted in our platform, is complete visibility into everything we do. We believe that transparency creates a culture of empowerment; and a more empowered team is a more productive team.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section">
                        <h3>Ownership</h3>
                        <p>Both as a team and deeply rooted in our platform, is complete visibility into everything we do. We believe that transparency creates a culture of empowerment; and a more empowered team is a more productive team.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>