<header class="">

    <div class="container-fluid">
        <div class="row">
            <!-- <div class=""> -->
                <nav class="navbar navbar-expand-lg">
                    <a routerLink='' class="nav-brand"><img src="assets/images/logo.png" alt="" class="img-fluid"></a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                          <li class="nav-item">
                            <a class="nav-link dropdown-toggle" routerLink="../products"><span>Products</span></a>
                            <ul>
                                <li><a routerLink="/products/hospitalManagement">Hospital Management</a></li>
                                <li><a routerLink="/products/CrmDevelopment">CRM Development</a></li>
                                <li><a routerLink="">Product Management</a></li>
                            </ul>
                          </li>

                          <li class="nav-item ">
                            <a class="nav-link dropdown-toggle" routerLink="/services"><span>Our Services</span></a>
                            <ul class="menu-services">
                              <li>
                                <div class="hardings d-flex align-items-start">
                                  <span><img src="assets/images/smartphone.png"/></span>
                                  <h4>Mobile Application <br>Service</h4>
                                </div>
                                <a routerLink="/services">Mobile Application</a>
                                <a routerLink="">iOS App Development</a>
                                <a routerLink="">Android App Development</a>
                                <a routerLink="">Hybrid App development</a>
                              </li>
                              <li>
                                <div class="hardings d-flex align-items-start">
                                  <span><img src="assets/images/smartphone.png"/></span>
                                  <h4>Web & Application <br>Development</h4>
                                </div>
                                <a routerLink="">Website Development</a>
                                <a routerLink="">Website Designing</a>
                                <a routerLink="">Ecommerce Web Development</a>
                                <a routerLink="">Content Management System (CMS)</a>
                                <a routerLink="">Landing Page</a>
                                <a routerLink="">Web Testing</a>
                                <a routerLink=""  >Cloud App development</a>
                              </li>
                              <li>
                                <div class="hardings d-flex align-items-start">
                                  <span><img src="assets/images/smartphone.png"/></span>
                                  <h4>Digital Marketing <br>Service</h4>
                                </div>
                                <a routerLink="/services">SEO</a>
                                  <a routerLink="">Social Media Marketing</a>
                                  <a routerLink="">PPC Management</a>
                                  <a routerLink="">Local Promotion</a>
                                  <a routerLink="">Video Marketing</a>
                              </li>
                              <li>
                                <div class="hardings d-flex align-items-start">
                                  <span><img src="assets/images/smartphone.png"/></span>
                                  <h4>Graphic Design</h4>
                                </div>
                                <a routerLink="">Logo Design</a>
                                <a routerLink="">Corporate Identity Design</a>
                                <a routerLink="">Print Media Design</a>
                                <a routerLink="">Graphics</a>
                              </li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link dropdown-toggle"><span>Resource</span></a>
                            <ul>
                                <li><a routerLink="">Why Us</a></li>
                                <li><a routerLink="/AboutUs">About Us</a></li>
                                <li><a routerLink="/Blog">Blog</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" routerLink="/ContactUs"><span>Contact Us</span></a>
                          </li>
                        </ul>
                        <div class="header-right">
                              <a href="tel:+09876543211" data-toggle="tooltip" data-placement="right" data-original-title="Call Us"><i class="fa fa-phone" aria-hidden="true"></i> +91 098 765 43211</a>
                              <a href="mailto:info@365dayswebsite.com" data-toggle="tooltip" data-placement="right" data-original-title="Mail Us"><i class="fa fa-envelope" aria-hidden="true"></i> info@365dayswebsite.com</a>
                          </div>
                      </div>
                    </nav>
            <!-- </div> -->
        </div>
    </div>
</header>
