<app-inner-banner></app-inner-banner>
<section class="two-division" id="twodivision">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-lg-5">
                <img src="assets/images/crm03.png" class="img-fluid"/>
            </div>
            <div class="col-lg-7">
                <div class="heading">
                    <h2>The World’s Largest <span>Marketplace</span></h2>
                </div>
                <p>There are thousands of APIs out there that do things like store files, enrich data, and send messages.</p>
<p>Because each API has its own structure, data format, and networking protocols, finding and connecting to the right one can be difficult and time-consuming.</p>

<p>RapidAPI is the world’s largest API marketplace with over 2 million developers accessing more than 20,000 APIs.</p>

            </div>
        </div>
    </div>
</section>
<section class="full-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading">

                
                <h2>The World's Most Robust <br>Accessibility <span>Interface</span></h2>
            </div>
            
        </div>
        <div class="col-lg-12">
            <video muted autoplay loop poster="https://accessibe.com/images/interface/hero.png">
                <source src="../../../../assets/video/hero.mp4" type="video/mp4"/>
            </video>
            </div>
        </div>
    </div>
</section>
<section class="two-division" id="twodivision">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            
            <div class="col-lg-5">
                <img src="assets/images/interface.png" class="img-fluid"/>
            </div>
            <div class="col-lg-5">
                <div class="heading">
                    <h2>How does the <span>accessibility interface</span> work</h2>
                </div>
                <p>The interface is designed to cover the accessibility requirements relating to the UI, the design, and the readability of your website.</p>
<p>By using this interface, visually impaired users, users with cognitive disabilities, epileptic users, and others can modify your site’s design to meet their specific individual needs. users can choose a pre-built disability profile, for example, the “Visually Impaired Profile”, and immediately get a bulk of adjustments to help them browse more easily.</p>
<p>Alternatively, or in addition to the profiles, users choose to enable different adjustments, such as to increase font sizes, change color contrasts, stop animations, and more.</p>

            </div>
        </div>
    </div>
</section>
