
  .two-division{
    padding: 60px 0px;
    p{
        margin-bottom: 20px;
    }
}
video{
    object-fit:cover;
    position: inherit;
    border-radius: 35px;
    box-shadow: 0px 10px 11px #f1f1f1;
    width: 100%;
}