/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


$primary_color:#ff3457;
$secondary_color:#14a6b7;
$small_font: 16px;
$midium_font: 20px;
$big_font:30px;
%p_style{
  font-size: 16px;
  color: #505050;
  margin-bottom: 15px;
  line-height: 24px;
}
%flex{
  display: flex;
  align-items:center;
  justify-content:space-between;
}
i{
  font: normal normal normal 14px/1 FontAwesome !important;
}
@mixin btn_style($bg_color, $padding, $color){
  font-size: 18px;
  padding: $padding;
  color: $color;
  border-radius: 5px;
  font-weight: 600;
  background: #ffffff;
  border:2px solid $bg_color;
  color: $color;
  text-transform: uppercase;
  box-shadow: 0px 5px 11px #dddddd;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;

}
html{
  scroll-behavior: smooth;
}
* {
  font-family: 'Source Sans Pro', sans-serif; }

a {
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  text-decoration: none !important;
  transition: 0.5s;
  color: #000000;
  &:hover{
    color: $primary_color;
  }
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

h1, h2 {
  font-family: 'Sofia Pro Light';
  margin: 0px;
  font-weight: 300; }

h1 span, h2 span {
  font-family: 'Sofia Pro Light';
  margin: 0px;
  
   }

h2 span{
  font-weight: 400;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
   }

ol {
  font-family: 'Source Sans Pro', sans-serif; }

a, button, input[type="submit"] {
  cursor: pointer; }

button:focus, input:focus {
  outline: none !important; }

p{
  @extend %p_style;
}
.noted{
  font-size: 14px;
}





// inner banner
.inner-banner{
  padding: 30px 0px;
  background-image: linear-gradient(#fff, #f1f1f1);
  
  .inner-text{
    h2{
      font-family: 'Sofia Pro Light';
      color: #000;
      font-size: 50px;
      line-height: 58px;
    }
    a{
      @include btn_style($bg_color:$primary_color, $padding:5px 30px, $color:#000000);
      margin-top: 20px;
    }
  }
  .inner-image{
    position: relative;
  }
}

.heading{
  margin-bottom: 30px;
  z-index: 0;
  span{
    // display:table-cell;
    // width: 100%;
    font-family: 'Sofia Pro Medium';
    position: relative;
    &:before{
      content:'';
      position: absolute;
      width: 0%;
      background: $secondary_color;
      height: 7px;
      bottom: 8px;
      left: 10px;
      z-index: -1;
      transition:0.5s;
    }
  }
  span.addClass{
    &:before{
      width: 100%;;
    }
  }
  h5{
    text-transform: uppercase;
    color: #2c2c2a;
  }
  h2{
    font-family: 'Sofia Pro Medium';
    font-size: 2em;
  }
}






  @media only screen and (max-width: 991px){
    
  }
  @media only screen and (max-width: 768px){

  }
  @media only screen and (max-width: 575px){
    
  }
  @media only screen and (max-width: 480px){

  }
  @media only screen and (max-width: 360px){
      }
  @media only screen and (max-width: 320px){}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
